{% extends "layouts/base.html" %}

{% block title %} UI Typography {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Gráficos</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Forms & Table</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Gráficos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Typography ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Headings</h5>
                                        </div>
                                        <div class="card-body">
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <select id="orientadorSelect" class="form-control mb-4" multiple onchange="atualizaGrafico()"></select>
                                              </div>
                                          </div>
                                          <canvas id="artigos_por_orientador"></canvas>
                                      </div>
                                    </div>
                                </div>                              
                                <!-- [ Typography ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


    <script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/chartjs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- chart-morris Js -->
    <script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/pages/chart-morris-custom.js"></script>
    <script type="text/javascript">
      var myChart;

      function atualizaGrafico() {
          const select = document.getElementById('orientadorSelect');
          const orientadores = Array.from(select.selectedOptions).map(option => option.value);
          const url = "{% url 'relatorio_artigos_por_orientador' %}" + '?orientadores=' + orientadores.join(',');
          fetch(url, {
              method: "get",
          })
          .then(function (result) {
              return result.json();
          })
          .then(function (data) {
              const ctx = document
                  .getElementById("artigos_por_orientador")
                  .getContext("2d");
              var cores_artigos_por_orientador = gera_cor((qtd = 12));
              if (myChart) {
                  myChart.destroy();
              }
              myChart = new Chart(ctx, {
                  type: "bar",
                  data: {
                      labels: data.labels,
                      datasets: [
                          {
                              label: '# de Artigos',
                              data: data.data,
                              backgroundColor: cores_artigos_por_orientador[0],
                              borderColor: cores_artigos_por_orientador[1],
                              borderWidth: 1,
                          },
                      ],
                  },
                  options: {
                      scales: {
                          y: {
                              beginAtZero: true,
                          },
                      },
                  },
              });
          });
      }

      document.addEventListener('DOMContentLoaded', function() {
          // Preencha o campo de seleção com os nomes dos orientadores aqui.
          const url_orientadores = "{% url 'lista_orientadores' %}";
          fetch(url_orientadores, {
              method: "get",
          })
          .then(function (result) {
              return result.json();
          })
          .then(function (data) {
              const select = document.getElementById('orientadorSelect');
              data.forEach(function(orientador) {
                  const option = document.createElement('option');
                  option.text = orientador;
                  option.value = orientador;
                  select.add(option);
              });
              atualizaGrafico();
          });
      });

      // Aplicar Select2 ao campo de seleção
      $(document).ready(function() {
          $('#orientadorSelect').select2();
      });
  </script>

  <!-- Adicione o JS do Select2 -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  });
{% endblock javascripts %}
